.mainContainer {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imgContainer {
  padding: 12px;
  height: 50vh;
  width: 90vw;
  max-width: 500px;
  border-radius: 25px;
}

.imgListContainer {
  height: 50%;
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
}

.imgPixContainer {
  height: 200px;
  width: 50%;
  margin-left: 25%;
  max-width: 500px;
  border-radius: 20px;
}

.centerDiv {
  display: flex;
  justify-content: center;
}

.listGridItem {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 16px;
  gap: 16px 16px;
  justify-content: space-around;
}
