.mainContainer {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imgContainer {
  height: 600px;
  width: 500px;
  max-width: 500px;
  border-radius: 25px;
}

.imgListContainer {
  height: 300px;
  width: 200px;
  max-width: 500px;
  border-radius: 20px;
  align-self: center;
}

.imgPixContainer {
  height: 200px;
  width: 50%;
  margin-left: 25%;
  max-width: 500px;
  border-radius: 20px;
}

.centerDiv {
  display: flex;
  justify-content: center;
}

.listGridItem {
  display: grid;
  margin-top: 16px;
  gap: 16px 16px;
  justify-content: space-around;
}
