.cursive {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
  color: #730217;
  line-height: 5rem;
  font-size: 3rem;
}

.cursiveDiv {
  display: flex;
  text-align: center;
  max-width: 360px;
}

.cursiveMargin {
  margin-left: 25%;
  margin-right: 25%;
}

.latoThin {
  font-family: "Lato", sans-serif;
  font-size: medium;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0.15rem;
}

.latoThinJustify {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-align: justify;
  line-height: 1;
  letter-spacing: 0.15rem;
}

.latoLight {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.latoRegular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: justify;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.15rem;
}

.latoBold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.15rem;
}

.latoBlack {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #730217;
}

.latoThinItalic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.latoLightItalic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.latoRegularItalic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.latoBoldItalic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.latoBlackItalic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.quattrocentoRegular {
  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.15rem;
}

.quattrocentoBold {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
}

.quattrocentoBoldGifts {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
  justify-content: center;
  align-self: center;
  font-size: 20px;
  margin-top: 32px;
}
.quattrocentoBoldGiftsValue {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
  justify-content: center;
  align-self: center;
  font-size: 20px;
  margin-top: 32px;
  color: #730217;
}

.quattrocentoThin {
  font-family: "Quattrocento", serif;
  font-weight: 600;
  font-size: medium;
  text-align: center;
}

.quattrocentoBlack {
  font-family: "Quattrocento", serif;
  font-weight: 900;
  font-style: normal;
  color: #730217;
}
