.itemContaier {
  width: 90vw;
  max-width: 350px;
  height: 450px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: black;
  align-items: center;
}

.buttonStyle {
  height: 50px;
  width: 50%;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  border-radius: 16px;
  background-color: #730217;
  color: white;
  font-family: "Quattrocento", serif;
  font-size: 16px;
}
