.myLinks {
  display: none;
}

.myLinksActive {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

/* Style navigation menu links */
.topnav a {
  display: flex;
  align-items: center;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.mainDivs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Style the hamburger menu */
.menu {
  width: 8px;
  height: 8px;
  background-image: url("../../public/menuBlack.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  color: black;
}

.menu:hover {
  background-color: #730217;
  color: black;
  background-image: url("../../public/menuWhite.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.pages {
  font-family: "Quattrocento", serif;
  font-weight: 600;
  font-style: normal;
}

.pages:hover {
  background-color: #730217;
  color: white;
}

.back {
  height: 20px;
  align-items: center;
  background-image: url("../../public/arrow-left.svg");
  align-self: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.back:hover {
  background-color: #730217;
  cursor: pointer;
  color: white;
}
